.price{float:left;height:415px;position:absolute;width:541px;z-index:2000;}
.price ul{list-style:none outside none;}
.price_ul1 {color: #319620;font-family:"微软雅黑";font-size:30px;font-style:oblique;height:36px;line-height:36px;margin-left: 30px;margin-top:45px;width:471px;}

.ad{width:981px;height:416px;}
.price{width:541px;height:415px;float:left;z-index:2000;position:absolute}
#ft-buttons-hd{padding-left:800px;text-align:right;position:absolute;z-index:2001;margin-top:-50px;}
#ft-buttons-hd a{margin-left:14px;text-decoration:none;background:url(../images/ftbj.gif) 0 0 no-repeat;font-weight:bold;display:block;width:28px;height:28px;float:left;line-height:28px;text-align:center;color:#111111;}
#ft-buttons-hd a.ft-button-hd-active{color:White;background:url(../images/ftcbj.gif) 0 0 no-repeat;}
.otis{color:#A7A7A7;float:left;text-align:center;width:77px;}
.tis{color:#6A9603;float:left;font-size:22px;font-weight:bold;text-align:center;width:77px;}

.price ul{list-style:none;}
.price_ul1{color:#319620;font-family:"微软雅黑";font-style:oblique;font-size:30px;width:471px;height:36px;line-height:36px;margin-top:45px;margin-left:30px;}
.price_ul1 a{color:#319620;font-weight:bold;text-decoration:none;}
.price_ul2{width:460px;height:74px;font-family:"微软雅黑";font-style:oblique;color:#313131;font-size:14px;font-weight:bold;line-height:74px;margin-left:32px;}
.price_ul2 li{float:left;}
#icon_new{background:url(../images/t2.gif) 0 0 no-repeat;background-position:bottom;height:36px;width:32px;}
.price_ul2 span{color:#1c8b26;}
.price_ul3{clear:both;width:480px;height:58px;margin-left:30px;}
.price_ul3 li{float:left;padding:0;margin:0;}
#textinput{width:351px;height:56px;border-left:1px solid #858585;border-top:1px solid #858585;font-size:0;line-height:0;border-bottom:1px solid #858585;}
#Text1{background:url(../images/20120910002.gif) repeat-x;width:333px;height:54px;line-height:54px;font-size:14px;border:0;color:#abb1d0;font-size:16px;font-weight:bold;padding-left:18px;}
#btn_search{width:126px;height:56px;border-right:1px solid #2c9309;border-top:1px solid #2c9309;border-bottom:1px solid #2c9309;}#Button1{background:url(../images/20120910003.gif) repeat-x;width:126px;height:56px;border-style:none;color:#fff;font-size:16px;font-weight:bold;}
.price_ul4{background:url(../images/search-shadow.png) 0 0 no-repeat;width:459px;height:28px;margin-left:25px;}
.price_ul5{background:url(../images/20120910004.gif) 0 0 no-repeat;width:493px;height:100px;margin-left:24px;}
.price_ul6{width:450px;height:54px;margin-left:25px;}
.price_ul6 li{float:left;margin-right:10px;color:#4b4b4b;}
.tip_icon1{background:url(../images/20120911014.gif) 0 0 no-repeat;width:6px;height:9px;margin-top:20px;}
.tip_text{margin-top:16px;}
.tip_icon2{background:url(../images/20120910005.gif) 0 0 no-repeat;width:27px;height:24px;margin-top:10px;}
.tip_icon3{background:url(../images/f6.gif) 0 0 no-repeat;width:16px;height:16px;margin-top:16px;}
.price_ul7{width:446px;font-size:0;border-top:1px dashed #bbb;margin-left:30px;}

/* 关键词开始 */
.case{width:100%;margin:0px auto;overflow:hidden;}
.mqt{border-bottom:1px solid #f0f0f0;height:35px;width:650px;margin-left:10px;}
.mqt li{float:left;}

#MainM21Roll{display:inline;width:670px;float:left;padding-top:25px;margin-left:9px;margin-right:14px;}
#MainM21Roll li{float:left;width:223px;}
#MainM21Roll li ul{line-height:15px;}
.bx_wrap{float:left;}
.MainM21Roll1{float:left;margin-right:5px;}
.MainM21Roll2{color:#5a5a5a;margin:1px 0;}
.MainM21Roll3{color:#1c8b26;margin:1px 0;}
.MainM21Roll4{color:#999999;}
/* 关键词结束 */

.ad2{width:980px;margin:0px auto;position:relative;height:118px}
.indexHot{height:117px;width:100%;position:absolute;background:#F2F3F5}
.gdxwwrap{height:117px;position:absolute;width:262px;z-index:5;}
.gdxw{color:#4B9926;height:60px;left:23px;line-height:20px;overflow:hidden;position:absolute;top:33px;width:190px;z-index:5;}
.gdxw ul{display:block;height:60px;line-height:20px;}
.gdxw ul li{display:block;height:60px;line-height:20px;}
.gdxw ul li h1{height:20px;line-height:20px;font-size:12px}
.gdxw ul li a{color:#4B9926;}

.indexHot .a{display:block;height:117px;position:absolute;}
.indexHot .a .m_title{text-align:center;font-weight:bold;color:#333333;line-height:24px;margin-top:10px}
.indexHot .a .m_info{display:block;color:#1B8A25;margin-left:5em;line-height:2em}
.indexHot .a:hover .m_info{display:block;color:#FFFFFF}
.indexHot .a .m_fee{display:block;color:#1B8A25;font-size:18px;font-weight:bold;float:right;margin-right:2em}
.indexHot .a:hover .m_fee{display:block;color:#F6FF0B;float:right;margin-right:2em}

.hotNews{background:url("../images/hotnews.png") no-repeat scroll left top transparent;left:0;top:0;width:262px;z-index:4;}
.hotNews:hover{background:url("../images/hotnews_hover.png") no-repeat scroll left top transparent;}
.netWork{background:url("../images/network.png") no-repeat scroll left top transparent;left:236px;top:0;width:260px;z-index:3;}
.netWork:hover{background:url("../images/network_hover.png") no-repeat scroll left top transparent;}
.hotpro{background:url("../images/network.png") no-repeat scroll left top transparent;left:470px;top:0;width:262px;z-index:2;}
.hotpro:hover{background:url("../images/network_hover.png") no-repeat scroll left top transparent;}
.relax{background:url("../images/relax.png") no-repeat scroll left top transparent;right:0;top:0;width:276px;z-index:1;}
.relax:hover{background:url("../images/relax_hover.png") no-repeat scroll left top transparent;}

/* 套餐开始 */
#taocan{background:url("../images/tSide_bot_bg.gif") no-repeat scroll center bottom transparent;margin-top:10px;padding-bottom:7px;}
#taocan ul{background:url("../images/tSide_mid_bg.jpg") repeat-x scroll center bottom transparent;padding:15px 0 5px;width:974px;}
#taocan ul li{display:inline;margin-right:18px;float:left;overflow:hidden;width:180px;text-align:center;}
#taocan ul li.fright{float:right;margin:0px}
#taocan ul li h3{height:43px;line-height:20px;margin-bottom:10px;overflow:hidden;padding:0 5px;}
#taocan ul li h3 a{color:#333333;display:block;font-size:12px;font-weight:normal;height:43px;line-height:20px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
/* 套餐结束 */


/* 经典案例开始 */
.conC{background:#FAFAFA;border:1px solid #D3D3D3;height:76px;margin:20px auto auto;width:974px;}
.conC_L{margin:8px 10px 0;width:148px;}
.conC_R{margin-right:5px;width:800px;}
.fl{display:inline;float:left;}
.fr{display:inline;float:right;}
.prev{background:url("../images/arrowl.gif") no-repeat scroll 0 0 transparent;height:22px;margin-top:29px;width:15px;}
.next{background:url("../images/arrowr.gif") no-repeat scroll 0 0 transparent;height:22px;margin-top:29px;width:15px;}
.scrollCon{height:76px;margin:0 5px;overflow:hidden;width:760px;}
.scrollCon li{display:inline;float:left;margin:6px 6px 7px;}
/* 经典案例结束 */

/* 获取Email资料开始 */
#book{float:left;width:300px;height:140px;margin-left:10px;background:url(../images/img_book.png) left bottom no-repeat;}
#book h3{margin-top:20px;text-align:center}
#book p{display:block;width:200px;text-align:left;margin-left:100px;margin-top:10px;line-height:24px}
.getemail{width:200px;margin-left:100px;float:left;}
#email{width:98px;height:18px;border:1px solid #33A803;}
#wd_btn{width:85px;height:27px;margin-left:10px;background:url(../images/bg_suoqu.jpg) left top no-repeat;border:none;cursor:pointer}
/* 获取Email资料结束 */

/* 新闻列表开始 */
.conB{margin:16px auto 0;width:974px;overflow:hidden;}
.conB_L,.conB_C{background:url("../images/bSide_bg.jpg") repeat-x scroll center bottom transparent;border:1px solid #E9E9E9;height:300px;width:315px;}
.conB_Lt,.conB_Ct{background:url("../images/c_bg2.gif") no-repeat scroll center bottom transparent;height:35px;padding:15px 0 0 10px;}
.b_side_mCon{height:220px;overflow:hidden;padding:0 10px;}
.conB_C{margin-left:10px;}
.conB_C ul{padding:8px 10px 0;}
.conB_C li{background:url("../images/tag_3.gif") no-repeat scroll 10px center transparent;border-bottom:1px dashed #BABABA;height:30px;line-height:30px;overflow:hidden;padding:0 10px 0 20px;}
.conB_C li span{color:#999999;float:right;}
.conB_C li a{color:#666666;}

.conB_Lt h2,.conB_Ct h2{float:left;}
.conB_Lt a.More,.conB_Ct a.More{background:url("../images/tag_1.gif") no-repeat scroll 0 3px transparent;color:#555555;float:right;font-size:12px;margin-right:15px;margin-top:8px;padding-left:15px;}
.conB_L ul{padding:0 30px 0 15px;}
.conB_L li{height:50px;margin-top:10px;overflow:hidden;}
.conB_L li p.info{width:100%;height:40px;line-height:16px;color:#999999;}
.conB_L li p a{color:#333333;height:16px;line-height:16px}
.conB_L li p a:hover{color:#B20000;}
.conB_L li img{border:1px solid #D6D4D5;margin-right:10px;padding:2px;}
/* 新闻列表结束 */

/* 友情链接开始 */
.flink{width:980px;margin:0px auto;overflow:hidden;}
.flink_L{width:70px;height:44px;float:left;margin:10px}
.flink_R{width:884px;float:left;margin-top:10px;overflow:hidden;}
.flink_R ul li{float:left;padding:6px 8px;}
.flink_R ul li a{color:#666666;}
/* 友情链接结束 */



